[{:title "Year 1 - Living Room"
  :class "red"}

 {:title "Year 1 - Family Room"
  :class "red"}

 {:title "Christmas 2026"
  :class "green"}

 {:title "Christmas 2026"
  :class "green"}

 {:title "Christmas Tree - Any Year"
  :class "green"}

 {:title "Animatronics - Any Year"
  :class "green"}]
