[{:title "Year 1 - Living Room"
  :class "red"}

 {:title "Year 1 - Family Room"
  :class "red"}

 {:title "Christmas 2026"
  :class "green"}

 {:title "Christmas 2026"
  :class "green"}

 {:title "Christmas Tree"
  :class "green"
  :body "Any Year"}

 {:title "Animatronics"
  :class "green"
  :body "Any Year"}]
