
@page {
    margin: 0in;
}

@media print {
    .footer, footer, header, .header {
        display: none !important;
        visibility: hidden;
    }
}

body {
  margin: 0px;
}

.page {
  break-after: page;
  width: 11in;
  height: 8.5in;
  margin: 0in;
  padding: 0in;

  display: flex;
  flex-direction: row;
}

.label {
    width: 5.5in;
    display: flex;
}

.label .body {
    border: 24pt solid black;
    margin: 0.5in;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Roboto, Helvetica, sans-serif;
}

.label .body.purple {
    border-color: purple;
}

.label .body.blue {
    border-color: blue;
}

.label .body.red {
    border-color: red;
}

.label .body.green {
    border-color: green;
}

.label .body.yellow {
    border-color: yellow;
}

.label .body.orange {
    border-color: orange;
}

.label .body.pink {
    border-color: pink;
}

.label h1 {
    font-size: 36pt;
    margin-top: 0pt;
    margin-bottom: 12pt;
    text-align: center;
}

.label p {
    margin: 4pt;
    font-size: 36pt;
}

