
@page {
    margin: 0in;
}

@media print {
    .footer, footer, header, .header {
        display: none !important;
        visibility: hidden;
    }
}

body {
  margin: 0px;
}

.page {
  break-after: page;
  width: 8.5in;
  height: 11in;
  margin: 0in;
  padding: 0in;
}

.label {
    height: 5.5in;
    display: flex;
}

.label .body {
    border: 0.25in solid black;
    margin: 0.5in;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label .body.purple {
    border-color: purple;
}

.label .body.blue {
    border-color: blue;
}

.label .body.red {
    border-color: red;
}

.label .body.green {
    border-color: green;
}

.label .body.yellow {
    border-color: yellow;
}
